@import "partials/fonts";

/* ==========================================================================
	Typography
	========================================================================== */

// If targeting a text element (ie. h1-h6, p, li, blockquote), try to style here.
// The exception is header/footer navigation and unique list styles.

body {
	color: $text-color;
	// Base font size for the entire site. Every other font size is based off of this via em.
	font: 15px/25px $proxima;
	text-shadow: 0 0 1px transparent;
}

/*	Headers
/*--------------------------------------*/

h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	clear: both;
	margin: 0;
	font-family: $raleway;
}

// Using em's to make the size relative to the base font and line height set for the body
// ex. 15px * 2em = 30px
h1 {
	font-size: 3em; // 15 * 3 = 45
	line-height: 1.1em;
}
h2 {
	font-size: 2.5em; // 15 * 2.5 = 37.5
	line-height: 1.2em;
}
h3 {
	font-size: 2em; // 15 * 2 = 30
	line-height: 1.2em;
}
h4 {
	font-size: 1.75em; // 15 * 1.75 = 26.25
	line-height: 1.2em;
}
h5 {
	font-size: 1.5em; // 15 * 1.5 = 22.5
	line-height: 1.3em;
}
h6 {
	font-size: 1.2em; // 15 * 1.2 = 18
	line-height: 1.8em;
}

/* Custom Headers */
.page, .archive, .single, .search-results {
	h2, h3, h4, h5, h6 {
		margin-top: 1em;
		margin-bottom: .5em;
	}
}
.home {
	h1, h2, h3, h4, h5, h6 {
		margin-top: 0;
	}
	h3 {
		padding-bottom: 10px;
		margin-bottom: 0;
		font-size: 1.5em;
	}
	h4 {
		margin-bottom: 0;
		font-size: 1em;
	}
}
header.top {
	h1, h2 {
		line-height: 0;
	}
}
.blog h1 {
	margin-bottom: 40px;
}

h1.search-title {
	margin-bottom: 40px;
}
h1 span {
	display: block;
	font-size: .5em;
	line-height: 1em;
}
h2.filter-title {
	padding: 10px 0;
	font-size: 2em;
	text-transform: capitalize;
}
h2.subtitle {
	font-size: 1.5em;
	line-height: 1.2em;
	font-weight: lighter;
	font-style: italic;
}
.single-people h2 {
	font-size: 2em;
}
nav h3, .side h3 {
	font-size: 1.5em;
	margin: 0 0 20px 0;
	padding-bottom: 10px;
	border-bottom: 2px solid $border-color;
}
.filter h3 {
	margin-bottom: 15px;
	font-size: 1.2em;
}
.support h3 {
	font-size: 1.75em;
}
.blog-container h3 {
	font-size: 1.5em;
}

.home .col h4 {
	font-size: .9em;
}

/*	Text Elements
/*--------------------------------------*/

strong {
	font-weight: 600;
}
em {
	font-style: italic;
}
hr {
	color: $border-color;
	background-color: $border-color;
	height: 1px;
	border: none;
	margin: 30px 0;
}
p {
	margin: 1.5em 0;
}
h1, h2, h3, h4, h5, h6 {
	+ p, + ul, + ol, + dl {
		margin-top: 5px;
	}
}
ul, ol {
	padding: 0;
}
li {
	margin: 0 0 0 13px;
	padding-left: 2px;
	list-style-type: disc;
	
	p:last-child {
		margin-bottom: 0;
	}
}
ol li {
	list-style-type: decimal;
}
cite {
	font-style: italic;
}
blockquote {
	font-family: $raleway;
	font-size: 1.5em;
	line-height: 1.5em;
	padding: 1px 40px 1px 22px;
	margin: 30px 0;
	border-left: 10px solid $separator-color;
	
	p {
		margin: 1em 0;
	}
}
figcaption {
	font-style: italic; 
}
dt {
	font-weight: 600;
}
dd {
	margin: 0 0 25px 0;
	font-weight: normal;
}

/*	Links
/*--------------------------------------*/

a:link {
	text-decoration: underline;
	color: $link-color;
	font-weight: 600;
	@include transition(color 0.24s ease-in-out);
}
.col a h4 {
	font-weight: 600;
}
a:hover, a:focus, a:active, 
.col a h4:hover, .col a h4:focus, .col a h4:active {
	color: $link-hover-color;
}
.col a:visited, .main a:visited {
	color: $link-visited-color;
}
.col .current-menu-item > a {
	color: $text-color;
}
.main-nav a:link, .footer-nav a:link, a.btn, .people-list a {
	text-decoration: none;
}

// This adds icon to links that lead to outside the website
// Uncomment and change URL to domain of website as need
article {
	p, h1, h2, h3, h4, h5, h6 {
		a[href*="//"]:not([href*="ucla"]) {
			@extend %externallink;
			
			// Don't style external link buttons
			&.btn {
				background-image: none;
			}
		}
		a[href*="//"]:not([href*="ucla"]).hide-external {
			@extend %hideexternal;
		}
	}
}

/*	Accessibility
/*--------------------------------------*/

// Accessible way to hide text
.hidden {
	@extend %visuallyhidden;
}
.skip {
	float: left;
}
.skip:focus {
	position: static;
	width: auto;
	height: auto;
}