/*	Events
/*--------------------------------------*/
// Using The Events Calendar plugin: https://wordpress.org/plugins/the-events-calendar
// Use the Full Styles display setting.

/* General */
#tribe-events .tribe-events-content {
	p {
		line-height: 25px;
		margin: 1.5em 0;
	}
}
.tribe-events-page-title {
	font-size: 3em;
	font-weight: 600;
	line-height: 1.1em;
	margin-bottom: 20px;
}
#tribe-events, #tribe-events-pg-template, .tribe-events-pg-template {
	padding: 0;
}

#tribe-events-content {
	width: 640px;
	margin: 0 auto;
	
	&.tribe-events-month {
		width: 940px;
		margin: 0 auto;
	}
	.tribe-events-loop {
		.tribe-events-list-event-description p {
			margin: 0 0 20px;
		}
		.tribe-events-event-meta {
			margin: 0 0 15px;
			font-weight: normal;
			font-size: 1em;
			
			.tribe-event-schedule-details, .time-details {
				font-weight: bold;
				line-height: 1.6em;
			}
			.tribe-events-venue-details {
				margin: 0;
				font-style: italic;
				line-height: 1.6em;
			}
		}
	}
}
.tribe-events-list {
	.type-tribe_events {
		padding: 31px 0 40px 0;
	}
	// Fixing header size on landing page
	.tribe-events-list-event-title {
		font-size: 2em;
		line-height: 1.2em;
		margin-bottom: .5em;
	}
	.vevent.hentry {
		border-bottom-color: $border-color;
		border-bottom-width: 2px;
	}
}

// Top of event landing page
#tribe-bar-form {
	background-color: $bg-light-color;
	padding: 0;

	label {
		font-size: 1em;
		margin-top: 5px;
	}
	input[type="text"] {
		font-weight: normal;
	}
	
	// For choosing between List, Month, or Day
	#tribe-bar-views {
		select, .tribe-bar-views-inner, #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a {
			background-color: #eee!important;
		}
		.tribe-bar-views-list .tribe-bar-views-option.tribe-bar-active a:hover, .tribe-bar-views-list .tribe-bar-views-option a:hover {
			background-color: #e0e0e0!important;
		}
	}
	
	// Find Events button
	.tribe-bar-submit {
		float: right!important;
		width: 160px;
		margin: 1px 20px 0 0;
	
		.tribe-events-button {
			margin-top: 10px!important;
			padding: 9px 0!important;
			text-transform: none!important;
			font-size: 1em!important;
		}
	}
}

// Day picker
.datepicker-days thead {
	background-color: $primary-light;
}

/* Single events page */
.single-tribe_events {

	// Title
	h1.tribe-events-single-event-title {
		font-size: 3em;
		line-height: 1.1em;
	}
	.tribe-events-event-meta {
		background-color: $bg-light-color;
		border: 1px solid $border-color;
	}
}
#tribe-events-content {
	// Date and location
	.tribe-events-schedule {
		margin: 20px 0;
	}
	.tribe-events-venue-details {
		font-style: italic;
	}
	
	// Styling event details
	.tribe-events-event-meta .tribe-events-meta-group {
		width: 50%;
		
		&.tribe-events-meta-group-gmap {
			width: 100%;
		}
	}
	.secondary .tribe-events-venue-map {
		width: 44%;
		margin: 20px 20px 20px 0;
	}
}

// Centering event map
.single-tribe_events .tribe-events-venue-map {
	margin: 0 auto;
}
.single-tribe_events .tribe-events-meta-group + .tribe-events-meta-group + .tribe-events-meta-group-gmap .tribe-events-venue-map {
	width: 98%;
}
#tribe-events-content a {
	text-decoration: underline;
}

/* Widget styles */
.tribe-events-list-widget {
	.duration {
		color: $text-color;
		line-height: 1.5em;
		font-size: .85em;
	}
	.duration span {
		display: inline; 
		font-weight: bold;
		padding: 0;
		margin: 0;
	}
	.tribe-events-widget-link {
		padding-left: 0;
	}
	ol {
		li.tribe-events-list-widget-events {
			margin-bottom: 10px;
			padding: 0;
		}
		h4 {
			margin: 0;
			font-size: .9em;
			text-decoration: underline;
		}
		a {
			text-decoration: none;
		}
	}
}

/* Featured Events */
.tribe-events-list-widget .tribe-event-featured {
	background: none;
}
.tribe-events-list .tribe-events-loop .tribe-event-featured {
	background: none;
	padding: 31px 0 40px 0;
	margin-bottom: 0;
	
	.tribe-events-event-meta, .tribe-events-content {
		color: $text-color;
	}
	.tribe-events-list-event-title {
		margin-top: 0;
	}
	a {
		color: $link-color!important;
	}
	a:hover, a:focus, a:active {
		color: $link-hover-color!important;
	}
	a:visited {
		color: $link-visited-color!important;
	}
	a.tribe-events-read-more {
		color: white!important;
	}
}