/* ==========================================================================
	Mobile Screen Sizes
	
	Table of Contents
	
	1. Main Containers
	2. Homepage
	3. Slider
	4. Header
	5. Navigation
	6. Footer
	7. People Archive
	8. Person Page
	9. Books
	10. Support
	10. Events
	11. Forms
	12. Typography
	13. Other
	14. Posts & Content Styles
	15. Pagination
   
	========================================================================== */

/*	1. Main Containers
/*--------------------------------------*/

body {
	font-size: 100%;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
.content, header {
	margin: 0 auto;
	float: none;
	width: 100%;
}
.col, #main-content .content {
	width: 95%!important;
	margin: 0 auto;
	float: none;
}
#main-content {
	margin-bottom: 30px;
}
#hero {
	display: none;
}

/*	2. Homepage
/*--------------------------------------*/

.home {
	#hero {
		display: block;
		height: 480px;
		width: 100%;
		margin: 0 0 40px 0;
		@include vendor-prefix('box-shadow', '0px 5px 5px 0px rgba(0,0,0,.14)');
		
		.content {
			width: 100%!important;
			height: 480px;
			@include vendor-prefix('box-shadow', 'none');
		}
		.hero-description {
			width: 95%;
			padding: 0 0 30px 0;
			left: 0;
			right: 0;
			
			h2 {
				width: 100%;
				font-size: 2em;
				line-height: 1.1em;
			}
			p {
				width: 100%;
				font-size: 1em;
			}
		}
	}
	@media only screen and (max-width: 650px) {
		#hero {
			height: 280px;
			
			.content {
				height: 280px;
			}
			.hero-description {				
				h2 {
					font-size: 1.6em;
				}
			}
		}
	}
}
.home .col {
	width: 100%!important;
	float: left;
	margin: 0 auto 30px auto;
	
	&.one {
		width: 100%;
		
		+ .two {
			margin-left: 0;
		}
	}
	&.two {
		width: 100%;
		
		+ .one {
			margin-left: 0;
			
			+ .two {
				margin-left: 0;
			}
		}
	}
	p, span.description {
		padding: 0;
		line-height: 1.5em;
		font-size: 1em;
		font-weight: normal;
		color: $text-color;
		display: block;
	}
	&.callout-col {
		li {
			width: 100%;
			margin-bottom: 20px;
		}
		li + li {
			margin-left: 0;
		}
		.callout-header {
			width: 100%;
			height: 240px;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: top center;
		}
	}
	&.news-col {
		h4 {
			font-size: 1.3em;
		}
		li {
			width: 100%;
			margin-bottom: 20px;
		}
		li + li {
			margin-left: 0;
		}
		img {
			width: 100%;
			height: auto;
		}
	}
	&.notice-col {
		padding: 20px 0;
		width: 99.9%!important;
		height: auto;
		overflow: auto;
		float: none;
		margin-bottom: 40px;
	}
	&.events-col, &.news-col {
		margin-bottom: 0!important;
		margin-top: 0!important;
	}
}
.home .hero-link + .notice-col {
	margin: 0;
	width: 99.9%!important;
	height: auto;
	padding: 20px 0 0 0;
}

@media only screen and (min-width: 320px) and (max-width: 799px) {
	// Customizing homepage on large mobile
	.home .col {
		width: 100%!important;
		margin: 20px auto!important;
		
		ul, ol {
			width: 100%!important;
			float: left;
			margin-bottom: 0;
		}
		ol {
			margin-bottom: 5px;
		}
		li {
			margin: 0 0 15px 0;
			clear: both;
			float: left;
		}
		span.description {
			margin-bottom: 0;
		}
	}
}
@media only screen and (min-width: 800px) and (max-width: 960px) {
	// Make homepage columns side by side
	.home {
		.col {
			width: 100%!important;
			max-width: 100%!important;
			float: left;
			margin: 20px auto;
			
			span.description {
				margin-bottom: 20px;
			}
		}
		.col + .col {
			width: 100%!important;
			float: left;
			margin: 20px auto;
		}
		#main-content .content {
			max-width: 100%!important;
			margin: 0 auto!important;
			float: none!important;
		}
	}
}

/*	3. Slider
/*--------------------------------------*/

.bx-wrapper {
	height: 400px!important;
	width: 100%;
}
#bxslider {
	margin-top: 0;
	
	.hero-description {
		width: 75%!important;
		padding: 0 0 30px 0;
		left: 0;
		right: 0;
		
		h2 {
			width: 100%;
			font-size: 2em;
			line-height: 1.1em;
		}
		p {
			width: 100%;
			font-size: 1em;
		}
		.content {
			width: 100%!important;
		}
	}
}
#slider {
	width: 100%;
		
	li, .bg {
		height: 400px;
	}
}

/* Direction Controls (Next / Prev) */
.bx-wrapper {
	.bx-prev {
		left: 10px;
		background: url(../images/mobile-arrow-left.png) no-repeat;
	}
	.bx-next {
		right: 10px;
		background: url(../images/mobile-arrow-right.png) no-repeat;
	}
	.bx-controls-direction a {
		width: 23px;
		height: 40px;
	}
}

/* Pager */
.bx-pager {
	float: right;
}

/*	4. Header
/*--------------------------------------*/

// Hide unneccessary things
header .university-logo, .give-back, header .search-form {
	display: none!important;
}

header {
	padding: 10px 0 10px 0;
	
	&.top {
		h1, h2 { 
			width: 100%;
			display: block;
			margin: 0;
			text-align: center
		}
	}
	// For retina, upload image 2x larger and resize here
	.dept-logo {
		width: 95%;
		max-width: 581px;
		height: auto;
	}
	nav {
		float: none;
	}
}
.breadcrumbs {
	margin-bottom: 20px;
	
	.content {
		width: 95%;
	}
}

/*	5. Navigation
/*--------------------------------------*/

header nav.desktop {
	display: none;
}
body {
	#mg-wprm-wrap {
		border-right: 1px solid #eee;
		background-color: white!important;
		@include vendor-prefix('box-shadow', '18px 0px 7px -3px rgba(0,0,0,0.17)');
	}
}
#wprmenu_bar {
	background-color: $secondary!important;
	
	.menu_title a {
		color: $white!important;
		text-decoration: none;
		top: 0;
	}
}
div#mg-wprm-wrap {
	ul li {
		list-style: none;
		padding-left: 0;
		margin: 0;
		
		& + li {
			border-top: 1px solid $border-color!important;
		}
	}
	ul li span.wprmenu_icon::before {
		color: $text-color;
	}
	ul li a {
		color: $text-color;
		
		&:hover {
			color: $link-color!important;
		}
	}
	ul.sub-menu {
		padding-bottom: 10px!important;
	}
	li.menu-item ul.sub-menu li.menu-item a {
		padding: 10px 15px;
	}
}
#wprmenu_menu input[type="search"] {
	background-image: none;
	border-radius: 20px;
	font-size: 1em;
	padding: 5px 40px 5px 10px!important;
}

/* Secondary Navigaion */
.col.side .content {
	width: 100%;
	margin: 0 auto;
	float: none;
}
.col.side.feed {
	width: 95%!important;
	margin: 0 auto;
}
.col + .col {
	width: 100%!important;
	margin: 0 auto;
	
	nav.page-nav {
		h3 {
			border-bottom: none;
			margin-bottom: 0;
			margin-left: 10px;
		}
		a {
			border-top: 1px solid $border-color;
			padding: 10px;
			display: block;
		}
		a:hover {
			background-color: $bg-light-color;
		}
	}
}

@media only screen and (min-width: 800px) and (max-width: 960px) {
	// Styling side menu on larger screens
	.single, .archive, .page {
		.breadcrumbs + .content {
			width: 95%;
		}
		.col {
			max-width: 65%;
			float: left;
			margin: 0 15px 0 0;
		}
		#main-content .content {
			max-width: 65%;
			float: left;
			margin: 0 15px;
		}
		.col.side {
			width: 220px!important;
			margin: 0 0 0 20px!important;
			float: right;	
		}
		.col.side.feed {
			width: 220px!important;
			margin: 0 auto;
		}
	}
	.post-type-archive-tribe_events .col {
		width: 100%!important;
		max-width: 100%;
		margin: 0 auto;
	}
	
	// Make second column look like desktop version
	.col + .col {		
		nav.page-nav {
			h3 {
				padding-bottom: 10px;
				margin: 0 0 20px 0;
				border-bottom: 2px solid $border-color;
			}
			a {
				border-top: none;
				padding: 0;
				display: block;
			}
			a:hover {
				background: none;
			}
		}
	}
	.page-template-page-full .col, .col.full-width {
		max-width: 100%;
		width: 100%!important;
		margin: 0;
	}
}

/*	6. Footer
/*--------------------------------------*/

footer {
	margin-top: 0px;
	
	nav {
		display: none;
	}
	.copyright {
		padding-top: 10px;
		width: 95%;
		margin: 0 auto;
		
		p {
			margin: 0;
			text-align: center;
			float: none;
		}
	}
	.university-logo {
		display: none;
	}
	.search-form {
		width: 301px;
		margin: 0 auto 10px auto;
		display: block;
		
		.search-btn {
			top: -2px;
			
			&:active {
				top: -1px;
			}
		}
	}
	input[type="search"] {
		float: none;
		clear: none;
		margin: 0 auto;
		color: $text-color;
		width: 100%;
		max-width: 280px;
		padding: 5px 10px 5px 10px;
		background: white;
		display: block;
	}
}

/*	7. People Archive
/*--------------------------------------*/

.page-template-page-people-listing {
	
	/* Filters */
	.filter, .filter-title {
		display: none;
	}
	.page-template-page-people-listing #main-content .content {
		max-width: 100%;
	}
	.dropdown-filter {
		display: block;
		width: 95%;
		margin: 20px auto;
		
		select {
			max-width: 100%;
		}
	}
	.filter-description {
		display: none;
	}
	
	/* People List */
	.filter-list {
		margin: 20px auto 0 auto;
		padding: 0;
		width: 100%;
	
		ul {
			margin: 0;
			padding: 0;
		}
	}
	.filter-list .filter-item {
		float: none!important;
		padding: 15px 0;
		width: 100%;
		//height: auto;
	
		.photo {
			margin: 0 15px;
		}
		dl {
			min-height: 107px;
			padding-top: 10px;
			margin-right: 10px;
		}
	}
}

@media only screen and (min-width: 700px) and (max-width: 799px) {
	.page-template-page-people-listing {
		// Making people page two column
		.archive .content header {
			text-align: center;
			width: 100%;
		}	
		.filter-list .filter-item {
			float: none!important;
			padding: 15px 0;
			width: 50%;
			//height: auto;
		}
	}
}
@media only screen and (min-width: 800px) and (max-width: 960px) {
	.page-template-page-people-listing {
		// Making People page three column
		.archive .content header {
			text-align: center;
			width: 100%;
		}
		#main-content .content {
			max-width: 100%;
		}
		
		.filter-list .filter-item {
			float: none!important;
			padding: 15px 0;
			width: 33%;
			//height: auto;
			text-align: center;
			
			.photo {
				float: none;
				margin: 0 15px;
			}
		}
	}
}

/*	8. Person Page
/*--------------------------------------*/

.single-people {
	.details {
		span {
			display: block;
		}
		span + span {
			margin-left: 0;
		}
		p {
			margin-top: 0px;
		}
	}
	article header {
		text-align: center;
		
		img {
			display: block;
		}
		h1 {
			margin-bottom: 15px;
		}
	}
	.col + .col {
		margin-top: 0;
		width: 95%!important;
		
		img {
			display: none;
		}
		.table-of-contents {
			display: none;
		}
	}
	.photo {
		margin: 0 auto 25px auto;
		display: block;
		float: none;
	}
	h1, .position, .details {
		text-align: center;
	}
}
@media only screen and (min-width: 800px) and (max-width: 960px) {
	// Styling right column on People page
	.single-people {
		article header {
			text-align: left;
			
			img {
				display: none;
			}
		}
		.col {
			max-width: 65%;
		}
		#main-content .content {
			max-width: 65%;
			float: left;
			margin: 0 15px;
		}
		.col + .col {
			margin-top: 0;
			width: 220px!important;
			float: right;
			
			img {
				display: block;
				width: 90%;
				height: auto;
			}
			.table-of-contents {
				display: block;
			}
		}
		.photo {
			margin: 0 20px 10px 0;
			float: left;
		}
		h1, .position, .details {
			text-align: left;
		}
	}
}

/*	9. Books
/*--------------------------------------*/

/* People Page */
.single-people .book-list {
	float: none;
	
	img, .custom-cover {
		float: left;
		margin-right: 15px;
	}
	li {
		float: left;
		width: 100%;
		display: block;
	}
	dl {
		margin-left: 15px;
		float: none;
		clear: none;
		width: auto;
	}
	dt.title {
		font-size: 1em;
	}
	dd.subtitle {
		font-size: .85em;
	}
}

/* Book Page */
.single-books {
	.content header {
		.cover {
			display: block;
			margin: 15px auto;
			width: 190px;
			height: auto;
		}
		.custom-cover.cover {
			width: 160px;
			height: 205px;
		}
		.custom-cover .title {
			font-size: 1.2em;
			line-height: 1em;
			text-align: center;
		}
	}
	.col + .col {
		.cover {
			display: none;
		}
	}
	.author {
		margin: 0 0 15px 0;
	}
}
@media only screen and (max-width: 460px) {
	.post-type-archive-books .book-list ul {
		text-align: center;
	}
}

/*	10. Support
/*--------------------------------------*/

.page-template-page-support {
	#main-content .content {
		width: 100%!important;
	}
	#hero {
		height: 360px;
		display: block;

		form {
			width: 100%;
		}
		.search {
			width: 70%;
			padding-right: 60px;
		}
		.search-btn {
			right: 10%;
		}
	}
	.col {
		width: 100%;
	}
	.contact-section {
		background: none;
		border-top: none;
		margin-top: 0;
	}
	.support-desc {
		text-align: left;
		width: 100%;
		max-width: 100%;
		
		p {
			text-align: left!important;
		}
	}
	.support-column {
		width: 100%;
		float: left;

		& + .support-column {
			margin-left: 0;
		}
	}
	.contact-section {
		text-align: left;
		padding: 10px 0 50px 0;
	}
}

@media only screen and (min-width: 800px) and (max-width: 960px) {
	// Styling right column on People page
	.page-template-page-support .col {
		max-width: 95%;
		margin: 0 auto;
		float: none;
	}
	.page-template-page-support #main-content .content {
		width: 100%!important;
		max-width: 100%;
		margin: 0;
	}
}

// Support Section
.page-template-page-support-section {
	.support {
		margin: 30px auto 20px auto;
		
		.support-column {
			width: 100%;
		}
		.support-column:nth-child(odd) {
		    margin-right: 0;
		}
	}
}

/* Filter Page */
.page-template-page-filter {
	.filter, .filter-title {
		display: none;
	}
	.dropdown-filter {
		display: block;
		width: 95%;
		margin: 20px auto;
		
		select {
			max-width: 100%;
		}
	}
	.filter-list {
		margin: 20px auto 0 auto;
		padding: 0;
		width: 100%;
	
		ul {
			margin: 0;
			padding: 0;
		}
	}
	.filter-list .filter-item {
		float: none!important;
		padding: 15px 0;
		width: 100%;
	}
}

@media only screen and (min-width: 690px) and (max-width: 749px) {
	.page-template-page-filter {
		.filter-list .filter-item {
			float: none!important;
			padding: 0;
			width: 48%;
			//height: auto;
		}
	}
}
@media only screen and (min-width: 750px) and (max-width: 960px) {
	.page-template-page-filter {
		.filter-list .filter-item {
			float: none!important;
			padding: 0;
			width: 47%;
			//height: auto;
		}
	}
}

/*	11. Projects
/*--------------------------------------*/

.page-template-page-project-listing {
	
	/* People List */
	.filter-list {
		margin: 20px auto 0 auto;
		padding: 0;
		width: 100%;
	
		ul {
			margin: 0;
			padding: 0;
		}
	}
	.filter-list .filter-item {
		float: none!important;
		padding: 15px 0;
		width: 100%;
		height: auto;
		text-align: center;
	
		.project_image {
			margin: 0 15px;
		}
		dl {
			margin: 0 10px;
		}
	}
}

@media only screen and (min-width: 700px) and (max-width: 799px) {
	.page-template-page-project-listing {
		
		// Making people page two column
		.filter-list .filter-item {
			width: 50%;
			height: 400px;
		}
	}
}
@media only screen and (min-width: 800px) and (max-width: 960px) {
	.page-template-page-project-listing {
		// Making People page three column
		#main-content .content {
			max-width: 100%;
		}
		
		.filter-list .filter-item {
			width: 33%;
			height: 470px;
			
			.project_image {
				width: 89%;
				height: auto;
			}
		}
	}
}


/*	11. Events
/*--------------------------------------*/

#tribe-events, #tribe-events-content.tribe-events-month {
	width: 100%;
	margin: 0 auto; 
}
#tribe-events-content {
	width: 100%;
	margin: 0 auto;
}
#tribe-events-pg-template {
	width: 95%;
	padding: 40px 0 0 0!important;	
}
.tribe-events-sub-nav {
	margin-top: 15px!important;
}
.tribe-events-last {
	padding-bottom: 0!important;
}
.post-type-archive-tribe_events .col {
	width: 100%;
}
.post-type-archive-tribe_events #tribe-events {
	margin-top: 20px!important;
}
.datepicker thead th {
	border-radius: 0!important;
}
#tribe-bar-form {
	padding: 0!important;
}
.tribe-events-schedule {
	margin: 15px 0!important;
	
	p {
		margin: 0;
	}
}
@media only screen and (min-width: 320px) and (max-width: 799px) {
	#tribe-events-content.col, #tribe-events .col.side.feed {
		width: 100%!important;
	}
}

/*	11. Forms
/*--------------------------------------*/

article form {
	margin-bottom: 40px;
}
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="color"],
select,
textarea,
.field {
	padding: 0 10px;
	width: 93%;
	max-width: 500px;
}
textarea {
	width: 94%;
}
select {
	width: 100%;
	max-width: 525px;
}

/*	12. Typography
/*--------------------------------------*/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	overflow-wrap: break-word;
}
.home .col h3, .col + .col h3 {
	font-size: 1.35em;
}
p {
	clear: both;
}
blockquote {
	padding: 1px 22px 1px 22px;
	font-size: 1.2em;
	margin: 30px 0;
}
a:link {
	-webkit-tap-highlight-color: rgba(0,0,0,0.3);
}

/*	13. Other
/*--------------------------------------*/

.alignleft, .alignright, .aligncenter, .alignnone, .wp-post-image { 
	float: none;
	margin: 0 auto;
	height: auto;
	max-width: 100%;
}
.wp-caption {
	max-width: 100%;

	img {
		max-width: 100%;
		height: auto;
	}
	.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
	}
}
.color-block {
	margin: 1px;
}
.fixclear:after { 
   overflow: auto;
}
.page-template-page-full-hosting #main-content {
	.flex-columns {
		flex-direction: column;
	}
	.flex-column {
		border: 1px solid $border-color;
		margin: 20px 0;
	}
}

/*	14. Posts & Content Styles
/*--------------------------------------*/

.blog {
	article {
		float: none;
		width: 100%;
		
		&:first-of-type {
			width: 100%;
			
			img {
				width: 100%;
				margin-bottom: 20px
			}
		}
		img {
			width: 100%;	
		}
	}
}
.blog.paged {
	article:first-of-type {
		width: 100%;
		
		img {
			width: 100%;
		}
	}
}
article header {
	padding: 0;
}
.entry-content {
	table {
		margin-bottom: 1.5em;
	}
	.size-auto,
	.size-full,
	.size-large,
	.size-medium,
	.size-thumbnail {
		max-width: 100%;
		height: auto;
	}
}

/*	15. Pagination
/*--------------------------------------*/

.pagination, .wp-prev-next {
	margin: 1.5em 0;
}
.pagination {
	text-align: center;

	ul {
		display: inline-block;
		white-space: nowrap;
		padding: 0;
		clear: both;
	}
	li {
		padding: 0;
		margin: 0;
		float: left;
		display: inline;
		overflow: hidden;
	}
	a, span {
		margin: 0;
		text-decoration: none;
		padding: 0;
		line-height: 1em;
		font-size: 1em;
		font-weight: normal;
		padding: 0.75em;
		min-width: 1em;
		display: block;
		
		&:hover, &:focus {
			background-color: $secondary;
			color: white;
		}
	}
	.current{
		cursor: default;
		color: $text-color;
	
		&:hover, &:focus {
			background-color: white;
			color: $text-color;
		}
	}
}
.wp-prev-next {
	.prev-link {
		float: left;
	}
	.next-link {
		float: right;
	}
}