/* ==========================================================================
	Main Styles - Desktop
	
	Table of Contents
	
	1. Main Containers
	2. Homepage
	3. Header
	4. Navigation
	5. Footer
	6. Person Page
	7. People Archive
	8. Books
	9. Articles/Posts
	10. Support
	11. Projects
	12. Other
	
	========================================================================== */

/*	1. Main Containers
/*--------------------------------------*/

#container {
	width: 100%;
	overflow: auto;
	zoom: 1;
}
.content, header {
	width: $site-width;
	margin: 0 auto;
	@extend %clearfix;
}
#hero {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	width: 100%;
	height: 400px;
	float: left;
	clear: both;
	margin: 0 0 13px 0;
}
.col {
	width: 640px;
	float: left;
}
.col + .col {
	width: 280px;
	margin: 10px 0 30px 20px;
}
.page-template-page-full .col, .col.full-width {
	width: 100%;
}

/*	2. Homepage
/*--------------------------------------*/

.home #hero {
	height: $home-hero-height;
	margin: 0 0 20px 0;
	width: 621px;
	
	.content {
		width: 100%;
		height: $home-hero-height;
		position: relative;
		
		&.text {
			@include vendor-prefix('box-shadow', 'inset 0 -40px 80px 60px rgba(0,0,0,0.3)');
			background: rgba(0,0,0,0.3);
			text-shadow: -3px 4px 2px rgba(0, 0, 0, 0.25);
		}
	}
	.hero-description {
		color: white;
		text-align: center;
		width: 100%;
		margin: 0 auto;
		padding: 0 0 20px 0;
		position: absolute;
		bottom: 0;
		
		.content {
			width: 100%;
			position: static;
			height: auto;
			box-shadow: none;
			background: none;
		}
		h2 {
			font-size: 2em;
			width: 95%;
			margin: 0 auto;
			font-weight: 600;
			text-decoration: underline;
		}
		p {
			width: 95%;
			margin: 0 auto;
			font-weight: normal;
		}
		button.outline {
			margin-top: 35px;
			min-width: 180px;
		}
		.left {
			text-align: left;
		}
		.right {
			text-align: right;
			
			button {
				float: right;
				clear: both;
			}
		}
	}
	.hero-description.middle {
		bottom: 12%;
	}
}
.home .col {
	float: left;
	margin: 20px 0;
	
	ul, ol {
		margin-top: 0;
	}
	li {
		list-style: none;
		margin-left: 0;
	}
	p, span.description {
		padding: 0;
		margin: 0 0 20px 0;
		line-height: 1.5em;
		display: block;
	}
	span.description {
		margin-bottom: 10px;
	}
	h4 {
		line-height: 1.5em;
	}
	.categories {
		display: block;
		line-height: 1em;
	}	
	&.one {
		width: 280px;
		
		+ .one {
			clear: left;
		}
		+ .two {
			margin-left: 20px;
		}
	}
	&.two {
		width: 640px;
		
		+ .one {
			margin-left: 20px;
			
			+ .two {
				margin-left: 0;
			}
		}
	}
	&.full {
		width: 100%;
		float: left;
	}
	&.content-col {
		text-align: center;
		float: left;
		
		h3 {
			font-size: 2.5em;
			border: none;
			padding: 0;
			margin-bottom: 10px;
		}
		p {
			font-size: 1.2em;
		}
	}
	&.news-col, &.events-col {
		h3 {
			display: inline-block;
			margin-right: 10px;
		}
		p {
			font-size: .9em;
			margin-top: 10px;
		}
		ol {
			border-top: 2px solid $border-color;
			padding-top: 20px;
		}
	}
	&.news-col {
		h4 {
			font-size: 1em;
		}
		.by-line {
			font-size: .8em;
		}
		li {
			float: left;
			width: 220px;
			padding: 0;
		}
		li + li {
			margin-left: 20px;
		}
		img {
			width: 220px;
			height: 108px;
		}
	}
	&.events-col {
		h4 {
			font-size: 1.2em;
			line-height: 1em;
		}
		.duration {
			font-size: .8em;
		}
		.duration span {
			display: inline; 
			font-weight: 600;
			padding: 0;
			margin: 0;
		}
		li {
			padding-left: 0;
		}
		p {
			margin-top: 5px;
		}
	}
	&.callout-col {
		ul {
			float: left;
		}
		a {
			text-decoration: none;
		}
		li {
			float: left;
			width: 300px;
			padding: 0;
			text-align: center;
		}
		li + li {
			margin-left: 20px;
		}
		.callout-header {
			text-align: center;
			color: white;
			width: 300px;
			height: 198px;
			display: table;
			box-shadow: inset 0 -40px 140px 80px rgba(27,61,96,0.8);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: top center;
		}
		.callout-content {
			display: table-cell;
			vertical-align: middle;
			padding-top: 20px;
		}
		h3 {
			font-size: 2em;
			font-weight: 700;
			border: 2px solid white;
			width: 220px;
			margin: 0 auto 15px auto;
			padding: 10px 0;
		}
		.fa {
			font-size: 2.9em;
		}
		p {
			font-size: 1em;
			margin-top: 10px;
		}
	}
	&.notice-col {
		border: 1px solid $border-color;
		border-top: 10px solid $primary;
		background: url('../images/whirlpool.png') repeat left top;
		padding: 10px 0 20px 0;
		width: 278px;
		height: auto;
		overflow: hidden;
		
		h3 {
			margin: 10px 0 0 0;
			padding: 0 20px;
		}
		ul, ol {
			padding: 0 20px;
		}
		ol li {
			margin-left: 13px;
			list-style-type: decimal;
		}
		ul li {
			margin-left: 13px;
			list-style-type: disc;
		}
		p {
			padding: 0 20px;
			margin-top: 5px;
			line-height: 1.7em;
		}
		.btn {
			margin: 0 20px;
		}
	}
}
.home .hero-link + .notice-col {
	margin: 0 0 0 18px;
	width: 298px;
	height: 360px;
	padding: 0;
}

/*	3. Header
/*--------------------------------------*/

header {
	padding: 35px 0 0 0;
	
	&.top {
		h1, h2 { 
			width: 690px;
			display: inline-block;
			margin: 0;
			text-align: center
		}
	}
	// For retina, upload image 2x larger and resize here
	.dept-logo {
		width: 400px;
		height: auto;
	}
	nav {
		clear: both;
		float: left;
		padding: 30px 0 20px 0;
	}
	nav ul {
		width: 710px;
	}
	.search {
		float: right;
		clear: right;
		margin-top: 30px;
	}
	.give-back {
		width: 130px;
		text-align: center;
		float: right;
		margin-top: 20px;

		span.support-tagline {
			font-size: .8em;
			display: block;
		}
	}
	.university-logo {
		float: left;
		margin-top: 20px;
		// For retina, upload image 2x larger and resize here
		width: 119px;
		height: 38px;
	}
}
.breadcrumbs {
	background-color: $secondary;
	width: 100%;
	float: left;
	clear: both;
	color: white;
	font-size: .8em;
	padding: 8px 0;
	margin-bottom: 40px;
	
	a {
		font-weight: 600;
		color: white!important;
		text-decoration: underline;
	}
}

/*	4. Navigation
/*--------------------------------------*/

header, footer {
	nav.desktop ul, nav ul {
		padding: 0;
		margin: 0;
		float: left;
	}
	nav.desktop ul li, nav ul li {
		display: inline-block;
		margin: 0 10px 0 0;
	}
}
header nav.desktop ul li {
	position: relative;
}

/* Drop Down */
header nav.desktop {
	ul li ul {
		position: absolute;
		visibility: hidden;
		opacity: 0;
		padding: 0 10px;
		width: 170px;
		top: 20px;
		border-top: 4px solid $primary-light;
		margin-top: 5px;
		background-color: white;
		z-index: 10000;
		@include vendor-prefix('box-shadow', '0px 5px 5px 0 rgba(0,0,0,.14)');
		@include transition(all 0.24s ease-in-out);
	}
	ul li ul li, ul li ul li a { 
		display: block;
		margin: 0;
	}
	ul li ul li a {
		line-height: 1em;
		padding: 6px 0;
	}
	ul li:hover ul, .sub-menu.open {
		display: block;
		opacity: 1;
		visibility: visible;
	}
	ul li.menu-item-has-children a {
		&:after {
			content: "\f0d7"; 
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			padding-left: 5px;
		}		
	}
	ul li.menu-item-has-children ul.sub-menu a {
		background: none;
		padding-right: 0;
		
		&:after {
			content: none;
		}
	}
	ul li ul li.menu-item-has-children {
		background: none;
	}
	a {
		font-weight: 600;
		text-transform: uppercase;
		font-size: .9em;
	}
	a, a:link {
		color: $text-color;
		@include transition(all 0.24s ease-in-out);
	}
	a:hover, a:focus, a:active {
		color: $link-hover-color;
	}
}

/* Side Menu */
.col.side {
	width: 220px;
	margin-left: 80px;

	.content {
		width: 220px;
	}
	li {
		list-style: none;
		margin: 0 0 5px 0;
		line-height: 1.2em;
	}
	ol, ul  {
		margin-bottom: 25px;
	}
	nav.page-nav ul {
		padding: 0;
		margin: 0;
	}
	.widget_recent_entries li {
		margin: 0 0 10px 0;
		padding: 0;
		
		a {
			font-family: $raleway;
			//font-size: .9em;
		}
	}
	.btn {
		margin-bottom: 40px;
	}
	li ul.sub-menu { 
		display: block;
		margin: 5px 0 0 30px;
	}
	/*.current_page_item .sub-menu, 
	.current_page_parent .sub-menu {
		display: block;
		margin: 5px 0 0 30px;
	}*/
	.sub-menu li {
		list-style: disc;
	}
	nav + .widget {
		margin-top: 30px;
	}
	.widget_text {
		border: 1px solid $border-color;
		background: url('../images/whirlpool.png') repeat left top;
		padding: 20px 20px 0 20px;
		margin-bottom: 30px;
		
		li {
			margin-left: 13px;
			list-style: disc;
		}
	}
}
.col-nav {
	width: 220px;

	li {
		list-style: none;
		margin-left: 0;
		line-height: 1.5em;
	}
	ul + h3 {
		margin-top: 40px;
	}
}

/*	5. Footer
/*--------------------------------------*/

footer {
	background-color: $secondary;
	clear: both;
	margin-top: 60px;
	float: left;
	width: 100%;
	padding: 35px 0 40px 0;
	color: white;
	font-size: 1em;
	line-height: 1.5em;
	
	/* Footer Nav */
	nav {
		a, a:link, a:visited {
			color: white;
			font-weight: 600;
			text-transform: uppercase;
			font-size: .8em;
		}
		ul.footer-nav {
			clear: left;
			float: left;
		}
		ul.social-links {
			clear: right;
			float: right;
		}
		.icon {
			margin: 0 0 0 10px;
			font-size: 1.7em;
		}
	}
	
	// Hiding and only showing on mobile
	.search-form {
		display: none;
	}
	.copyright {
		padding-top: 50px;
		font-size: .8em;
		
		.university-logo img {
			float: left;
			width: 100px;
			height: 32px;
		}
		p {
			float: left;
			margin: 0 0 0 20px;
		}
		span {
			margin: 0 5px;
		}
		a, a:link, a:visited {
			color: white;
			text-transform: none;
			text-decoration: underline;
		}
	}
}

/*	6. Person Page
/*--------------------------------------*/

.single-people {

	.col {
		width: 700px;
	}
	.photo {
		width: 220px;
		height: 220px;
		margin: 0 20px 10px 0;
		float: left;
	}
	.circle {
		// To make circle, radius should be at least half the width and height
		border-radius: 140px;
	}
	.rounded {
		// Make radius 1/4 the width and height
		border-radius: 70px;
	}
	span.position {
		display: block;
		font-weight: 600;
	}
	.details {
		span {
			display: inline;
		}
		span + span {
			margin-left: 20px;
		}
		p {
			margin-top: 0;
		}
	}
	ul.social {
		margin: 0;
		
		li {
			list-style: none;
			margin: 0;
			padding: 0;
			display: inline-block;
		}
		li + li {
			margin-left: 7px;
		}
	}
	.link {
		&:before {
			content: "\f0c1"; 
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			padding-right: 5px;
			color: $secondary-light;
			font-size: .9em;
		}
	}
	.download {	
		&:before {
			content: "\f019"; 
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			padding-right: 5px;
			color: $secondary-light;
			font-size: .9em;
		}
	}
}

/*	7. People Archive
/*--------------------------------------*/

/* Filters */
.page-template-page-people-listing .main {
	text-align: center;
	width: 100%;
	
	h1 {
		margin-bottom: 20px;
	}
}
.filter {
	padding: 20px 0;
	width: 100%;
	background: url('../images/whirlpool.png') repeat left top;
	border-bottom: 10px solid #336699;
	border-top: 1px solid $border-color;
	float: left;
	clear: both;
	
	ul {
		padding: 0;
	}
	li {
		list-style: none;
		display: inline-block;
		margin: 0 5px;
	}
}
.button-group {
	width: $site-width;
	margin: 0 auto;
	
	button {
		color: $link-color!important;
		background: none;
		margin-right: 5px;
		min-width: auto;
		padding: 5px;
		letter-spacing: 0;
		text-decoration: underline;
		
		&:hover, &:focus {
			background: none;
		}
	}
	button.is-checked {
		color: $text-color!important;
		text-decoration: none;
	}
}
.filter-description {
	width: $site-width;
	margin: 0 auto;
}

.dropdown-filter {
	display: none;
}
.page-template-page-people-listing {
	
	/* People List */
	.filter-list {
		margin-top: 20px;
		padding: 0 9px;
		clear: both;
	
		ul {
			margin: 0;
			padding: 0;
		}
		li {
			list-style: none;
		}
		.filter-item {
			display: block;
			float: left;
			padding: 0 13px 15px 13px;
			margin: 0;
			width: 280px;
			height: 440px;
			text-align: center;
			@include transition(background-color 0.24s ease-in-out);
		
			a {
				display: block;
			}
			&.hover {
				.name {
					color: $link-color;
				}
			}
			.photo {
				width: 280px;
				height: 280px;
			}
			.circle {
				// To make circle, radius should be at least half the width and height with border (ie. 100px + 7px border = 107px)
				border-radius: 55px;	
			}
			.rounded {
				// Make radius 1/4 the width and height
				border-radius: 25px;
			}
			.name {
				color: $text-color;
				font-size: 1.5em;
				line-height: 1.3em;
				margin-top: 5px;
				
				a {
					text-decoration: underline;
				}
			}
			.interest {
				font-size: .9em;
				line-height: 1.3em;
				color: $secondary-text-color;
				margin-top: 10px;
			}
			.position {
				font-style: italic;
				margin-bottom: 0;
				font-weight: 600;
				font-size: .9em;
				line-height: 1.3em;
			}
			.email, .office, .office-hours, .phone {
				font-size: .9em;
				margin-bottom: 0;
				color: $text-color;
				line-height: 1.3em;
			}
			.email a {
				font-size: 1em;
				display: inline-block;
				text-decoration: underline;
			}
		}
	}
}

/* Staff */
.term-staff .people-list {
	li:hover {
		background: none;
	}
	.name {
		color: $text-color;
	}
	.position {
		margin-top: 10px;
	}
}

/*	8. Books
/*--------------------------------------*/

/* General Styles */
.cover {
	@include vendor-prefix('box-shadow', '0 0 10px 0 rgba(0,0,0,.14)');
	border: 3px solid white;
}
.custom-cover {
	background-color: #b4b4b4;
	margin: 0 auto 0 auto;
	
	 .title {
		color: white;
		font-weight: 600;
		text-align: center;
		display: block;
	}
}
.publisher {
	display: block;
}
.book-list {
	.title {
		font-size: 14px;
		line-height: 14px;
		margin-bottom: 5px;
	}
	dd.publisher {
		font-size: 12px;
		line-height: 12px;
		margin-bottom: 5px;
	}
	dd.author a {
		display: block;
		font-size: .8em;
		line-height: 16px;
	}
}

/* People Page */
.single-people .book-list {
	float: left;
	
	img, .custom-cover {
		float: left;
	}
	.custom-cover {
		width: 50px;
		height: 60px;
		padding: 20px 5px 10px 5px;
		
		.title {
			font-size: .42em;
			line-height: 1em;
		}
	}
	li {
		float: left;
		margin: 0 0 20px 0;
		list-style: none;
		display: inline-block;
		width: 320px;
	}
	dl {
		margin-left: 15px;
		float: left;
		clear: none;
		width: 225px;
	}
	dt.title {
		font-size: 14px;
		line-height: 14px;
		margin-bottom: 5px;
	}
	dd {
		margin-bottom: 0;
	}
	dd.publisher {
		font-size: 12px;
		line-height: 12px;
		margin: 10px 0;
	}
	dd.author a {
		display: block;
		font-size: .8em;
		line-height: 16px;
	}
	dd.subtitle {
		font-style: italic;
		line-height: .8em;
	}
}

/* Book Page */
.single-books {
	.publisher {
		display: block;
		font-size: .8em;
		font-style: italic;
	}
	.author {
		margin-top: 20px;
		display: block;
	}
	.author p {
		display: inline;
	}
	.author-name + .author-name {
		&:before {
			content: ",";
			margin: 0 5px 0 -3px;
		}	
	}
	.custom-cover {
		width: 244px;
		height: 313px;
		line-height: 24px;
		padding: 60px 15px 10px 15px;
		
		.title {
			font-size: 24px;
		}
	}
	.content header {
		width: 100%;
		
		.cover {
			display: none;
		}
	}
}

/* Book Archive */
.post-type-archive-books {
	h1 {
		text-align: center;
	}
	.book-list {
		margin-top: 40px;
		clear: both;
		
		ul {
			padding: 0;
		}
		li {
			display: inline-block;
			padding: 0;
			margin: 5px 21px;
			width: 190px;
			height: 280px;
			text-align: center;
			vertical-align: top;
			@extend %clearfix;
		}
		.custom-cover {
			width: 91px;
			height: 127px;
			line-height: 9px;
			padding: 20px 5px 10px 5px;
			margin-bottom: 12px;
			
			.title {
				font-size: 9px;
			}
		}
		dt.title {
			font-size: 1em;
			line-height: 1em;
			margin: 5px 0;
		}
		dd.publisher {
			font-size: .8em;
			line-height: .8em;
			margin-bottom: 5px;
		}
		dd.author a {
			display: block;
			font-size: .8em;
			line-height: 1.14em;
		}
		a {
			text-decoration: none;
		}
	}
}

/*	9. Articles/Posts
/*--------------------------------------*/

.category, .search-results, .archive {
	article {
		padding-bottom: 40px;
	}
	article + article {
		border-top: 2px solid $border-color;
	}
}
.blog {
	article {
		float: left;
		width: 300px;
		border-bottom: 2px solid $border-color;
		margin-bottom: 20px;
		
		&:first-of-type {
			width: $content-width;
			height: auto;
			margin-right: 0;
			margin-bottom: 40px;
			padding-bottom: 20px;
			border: 1px solid $border-color;
			text-align: center;
			background: #f7f7f7;
			
			.entry-title, .entry-details, p {
				padding: 0 10px;
			}
			img {
				width: $content-width;
				margin-bottom: 20px
			}
		}
		img {
			margin-bottom: 10px;
			width: 300px;
			height: auto;
		}
		p {
			font-size: .9em;
		}
		.entry-details {
			font-size: .8em;
			font-weight: 600;
		}
	}
	article:nth-child(2n+2) {
	    margin-right: 40px;
	}
	.blog-container {
		float: left;
		width: 100%;
	}
}
.blog.paged {
	article:first-of-type {
		width: 300px;
		margin-right: 40px;
		margin-bottom: 20px;
		padding-bottom: 0;
		border: none;
		border-bottom: 2px solid $border-color;
		text-align: left;
		background: white;
		
		.entry-title, .entry-details, p {
			padding: 0;
		}
		img {
			width: 300px;
			margin-bottom: 20px
		}
	}
	article:nth-child(2n+2) {
	    margin-right: 0;
	}
	 article:nth-child(odd) {
		margin-right: 40px;
	}
}
.publish-date {
	margin-top: 0;
	margin-bottom: 20px;
	display: block;
}
.archive .wp-post-image {
	max-width: 100%;
	height: auto;
}

/*	10. Support
/*--------------------------------------*/

.page-template-page-support {
	#hero {
		height: 360px;
		
		.text {
			@include vendor-prefix('box-shadow', 'inset 0 -40px 80px 60px rgba(0,0,0,0.5)');
			background: rgba(0,0,0,0.5);
			width: 100%;
			height: 360px;
		}
		h1 {
			color: white;
			font-size: 4em;
			text-align: center;
			padding-top: 150px;
			padding-bottom: 50px;
			text-shadow: -3px 4px 2px rgba(0, 0, 0, 0.25);
		}
		form {
			width: 700px;
			margin: 0 auto;
		}
		.search {
			width: 635px;
			background-color: white;
			display: block;
			margin: 0 auto;
			padding-top: 15px;
			padding-bottom: 15px;
			padding-left: 25px;
			font-size: 1.1em;
			border-radius: 25px;
		}
		.search-btn {
			color: #8e8e8e!important;
			background: none;
			font-size: 1.6em;
			top: 7px;
			right: 15px;
			position: absolute;
			background: none;
			@include transition(color 0.24s ease-in-out);
			
			min-width: auto;
			
			&:hover, &:focus {
				color: #666!important;
			}
			&:focus {
				top: 9px;
			}
		}
	}
	.col {
		width: 100%;
	}
	.support, .contact-section {
		clear: both;
		width: 100%;
		margin: 0 auto;
		float: left;
	}
	.support {
		margin-top: 10px;
	}
	.contact-section {
		background: url('../images/whirlpool.png') repeat left top;
		border-top: 10px solid #336699;
		margin-top: 60px;
		text-align: center;
		padding: 10px 0 50px 0;
	}
	.contact-container {
		margin: 0 auto;
		max-width: 100%;
		width: fit-content;
	}
	.support-desc {
		text-align: center;
		width: 960px;
		margin: 0 auto;
	}
	.support-column {
		width: 280px;
		float: left;
		
		.btn {
			margin-top: 10px;
		}
		.phone {
			font-size: 1.2em;
			font-weight: 600;
		}
		& + .support-column {
			margin-left: 50px;
		}
	}
	footer {
		margin-top: 0;
	}
}

/* Support Section */
.page-template-page-support-section {
	.support {
		clear: both;
		width: 100%;
		margin: 30px auto 0 auto;
		float: left;
		border-top: 2px solid $border-color;
		
		.support-column {
			width: 280px;
			float: left;
		}
		.support-column:nth-child(odd) {
		    margin-right: 50px;
		}
	}
}

/* Single Support */
.steps {
	border-top: 2px solid $border-color;
	margin-top: 30px;
	
	li.step {
		margin: 0;
		padding: 0;
		list-style: none;
		
		img {
			max-width: 100%;
			height: auto;
			margin: 20px auto;
			display: block;
		}
	}
}

/* Filter Page */
.page-template-page-filter {
	.filter {
		background: none;
		border: none;
		margin-bottom: 20px;
	
		ul {
			padding: 0;
		}
		li {
			list-style: none;
			display: inline-block;
			margin: 0 5px;
		}
	}
	.filter-list {
		margin-top: 40px;
		clear: both;
	}
	.button-group {
		width: 100%;
		float: left;
		text-align: center;
		
		button {
			@extend %btn;
			text-decoration: none;
			
			&.is-checked {
				color: white!important;
				background: $btn-hover-color;
			}
		}
	}
	.filter-item {
		display: block;
		float: left;
		padding: 0;
		margin: 10px 6px 20px 6px;
		width: 200px;
		height: 250px;
		text-align: center;
	
		a {
			display: block;
			text-decoration: none;
		}
		img {
			width: 160px;
			height: 160px;
			background-color: $bg-dark-color;
		}
		dt {
			text-decoration: underline;
		}
		dd {
			color: $text-color;
			text-decoration: none;
		}
	}
	/*.filter-item:nth-of-type(3n+3) {
		margin-right: 0;
	}*/
}

/*	11. Projects
/*--------------------------------------*/

.single-projects {
	.principal_investigator {
		display: block;
	}
	.website {
		display: block;
	}
}

/* Filters */
.page-template-page-project-listing .main {
	text-align: center;
	width: 100%;
	
	h1 {
		margin-bottom: 20px;
	}
}

.page-template-page-project-listing {
	
	.filter-list {
		margin-top: 40px;
		padding: 0 9px;
		clear: both;
	
		ul {
			margin: 30px 0;
			padding: 0;
		}
		li {
			list-style: none;
		}
		.filter-item {
			display: block;
			float: left;
			padding: 15px 13px;
			margin: 0;
			width: 280px;
			height: 470px;
		
			a {
				display: block;
			}
			&.hover {
				.name {
					color: $link-color;
				}
			}
			.project_image {
				width: 280px;
				height: 185px;
			}
			.name {
				font-size: 1.2em;
				line-height: 1.3em;
				margin-top: 5px;
				
				a {
					text-decoration: underline;
				}
			}
			.short_description {
				margin-top: 10px;
			}
			.principal_investigator {
				margin-top: 10px;
			}
		}
	}
}

/*	12. Other
/*--------------------------------------*/

.alignleft { 
	float: left;
	margin: 0 15px 15px 0;
}
.alignright { 
	float: right;
	margin: 0 0 15px 15px;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto
}
.single .wp-post-image {
	margin: 20px 0;
	max-width: 100%;
	height: auto;
}
.single .by-line {
	margin-top: 0;
}
.about-author {
	margin: 2em 0;
	background: $bg-light-color;
	border-top: 10px solid $primary;
	padding: 20px;
	
	h3 {
		margin-top: 0;
	}
	p {
		margin-bottom: 0;
	}
}
.pagination li {
	display: inline-block;
}
.pagination {
	text-align: center;
	margin-top: 40px;
}
.instructors {
	display: block;
	margin-bottom: -20px;
}
figure {
	margin-left: 0;
	margin-right: 0;
}
.content-subtitle {
	font-size: 1.4em;
	font-weight: 500;
	line-height: 1.6em;
	display: block;
}
.notice, .gform_confirmation_wrapper {
	width: 100%;
	margin: 2em 0;
	background: $bg-light-color;
	border-top: 10px solid $primary;
	padding: 10px 0;
}
.notice p, .notice h3 {
	padding: 0 25px;
}
.gform_confirmation_wrapper {
	padding: 10px 0 40px 0;
	
	.gform_confirmation_message {
		padding-left: 25px;
		padding-right: 25px;
	}
}
.page-template-page-confluence #main-content {
	img {
		max-width: 100%;
	}
	h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
		margin-top: 1em;
	}
	.page-title:first-child {
		margin-top: 0;
	}
}
.page-template-page-full-hosting #main-content {
	.top-content {
		width: 640px;
		margin: 0 auto;
		
		h1 {
			text-align: center;
		}
	}
	.flex-columns {
		display: flex;
		flex-flow: row nowrap;
		margin: 20px 0;
		clear: both;
	}
	.flex-column {
		flex-grow: 1;
		flex-basis: 0;
		border: 1px solid $border-color;
		border-left: unset;
		padding: 30px 20px;
		
		&:first-of-type {
			border: 1px solid $border-color;
		}
		& > :first-child {
			margin-top: 0;
		}
	}
	.additional-content {
		clear: both;
		max-width: 640px;
		margin: 0 auto;
	}
}

ul.course-list {
	li {
		list-style: none;
		margin-left: 0;
		padding-bottom: 5px;
	}
	h3 {
		margin-bottom: 0;
	}
	p {
		margin: 1em 0 1.5em 0;
	}
}
.site-banner {
	background-color: $background-color;
	width: 100%;
	float: left;
	
	.content {
		margin-top: 20px;
		margin-bottom: 10px;
		max-width: $site-width;
		width: 90%;
	}
	h1, h2, h3, h4, h5, h6 {
		font-size: 1em;
		margin-bottom: 0;
	}
}
.toggletip-container {
	position: relative;
	display: inline-block;
	
	button {
		font-size: .85em;
		font-weight: 600;
		line-height: 1em;
		border-radius: 50%;
		width: 20px;
		height: 20px;
		background: $white;
		border: 2px solid rgba(black, .4);
	}
}
.toggletip-bubble {
	font-size: .8em;
	line-height: 1.3em;
	color: $secondary-text-color;
	display: inline-block;
	position: absolute;
	left: 110%;
	top: -10px;
	width: 200px;
	padding: 10px;
	background: $white;
	box-shadow: 0px 0px 5px 3px rgba(167,167,167,0.45);
	z-index: 9999;
}

/* Tables */
table {
	max-width: 100%;
}
td, th {
	padding: 5px;
} 
th {
	background-color: $primary-light;
}
tr:nth-of-type(odd) {
	background: $bg-light-color;
}
tr:hover td {
	background-color: $bg-dark-color;
}
td {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: $border-color;
}

/* FAQ */
dl.faq {
	dt.question {
		cursor: pointer;
		
		&:before {
			content: "\f0da"; 
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			width: 15px;
			display: inline-block;
		}	
	}
	dt.active {
		&:before {
			content: "\f0d7"; 
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			width: 15px;
		}	
	}
	dd {
		margin-left: 15px;
	}
	dd > p {
		margin-top: 10px;
	}
}

/* Galleries */
.gallery {
	.gallery-item {
		display: inline-block;
		vertical-align: top
	}
	.gallery-item + .gallery-item {
		margin-left: 10px;
	}
	.gallery-caption {
		max-width: 150px; 
		line-height: 16px; 
		font-size: 12px; 
		font-style: italic;
	}
	.gallery-icon {
		min-height: 160px;
	}
}

.rl-loading {
	opacity: 1!important;
}

// When using Responsive Lightbox plugin
#fancybox-close {
	right: -40px!important;
}
#fancybox-right {
	right: -25px!important;
}
#fancybox-right:hover span {
	left: auto;
	right: 10px;
}
#fancybox-left:hover span {
	left: 10px;
}

//    C O L O R  P A L E T T E
//--------------------------------------*/

.color-block {
	width: 103px;
	height: 103px;
	float: left;
	text-align: center;
	line-height: 7em;
	margin: 0 1px;
}
.light-primary {
	background: $primary-light;
}
.primary {
	background: $primary;
}
.dark-primary {
	background: $primary-dark;
}
.light-secondary {
	background: $secondary-light;
}
.secondary {
	background: $secondary;
}
.dark-secondary {
	background: $secondary-dark;
}
.light {
	color: white;
}